/* Global Styles */

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Body Section Styles*/

body {
    background-color: #DEEEFF ;
}


/* Header Section Styles */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2B3642;
    border-radius: 10px;
    align-items:center;
}

header h1 {
    color: #5C5F63;
    background-color:#95c5fc;
    padding: 0 .5vw 0 .2vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:5%;
    margin-bottom:5%;
}

/* Navigation Section Styles */ 

nav ul {
    list-style-type: none;
    align-content:space-between; 
}

nav ul li {
    display:inline-block;
    padding: 0 2vw;
}

nav ul li a {
    color:#95c5fc;
}



/* Main Section Styles */

.main {
    display:flex;
}

/* About Me Section Styles */

.AboutMe {
    display:flex;
    justify-content: space-around;
    max-height:200px;
    margin: 1vw;
    box-sizing:border-box;
}

.AboutMeHeader {
    display:inline-block;
    align-self:center;
    border-right:solid #0e55a7;;
    padding-right:1vw;
    text-align:right;
}

.AboutMeHeader h2 {
    font-size:1.5vw;
    color:#0e55a7;
}

.AboutMeContent {
    display:inline-flex;
    max-width: 60%;
}

.AboutMeBio {
    max-Width:70%;
    align-self:center;
}

.AboutMePic {
    margin: 0 0 0 1vw;
}


.AboutMePic img {
    object-fit:cover;
    overflow:hidden;
    border-radius:15px; 
    max-height:100%;
}


/* Work Section Styles*/

.work {
    margin: 1vw;
    box-sizing:border-box;
    max-height:300px;
}

.workInfo {
    display:flex;
    justify-content:space-between;
}

.workHeader {
    align-self:center;
    border-right:solid #0e55a7;;
    padding-right:1vw;
    width:16%;
    text-align:right
}

.workHeader h2{
    font-size:1.5vw;
    color:#0e55a7;
}

.workContent {
    max-width:100%;
}

.workItem1 {
    max-height:100%;
    flex-wrap:wrap;
}

.workItem1 img {
    object-fit:cover;
    overflow:hidden;
    border:solid #2fd8ca;
    max-height:30%;
    max-width:50%;
 }

.workTitleBox {
    background-color: #2fd8ca;
    width:15%;
}

.workItem2 img {
    object-fit:cover;
    overflow:hidden;
    border:solid #2fd8ca;
    max-width:30%;
    max-height:30%;
    
}

/* Footer Section Styles*/

.footer{
    flex-shrink:0;
}

footer section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2B3642;
    border-radius: 10px;
    align-items:center;
}

footer h2 {
    color: #5C5F63;
    background-color:#95c5fc;
    padding: 0 .5vw 0 .2vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:5%;
    margin-bottom:5%;
}

footer ul {
    list-style-type: none;
    align-content:space-between; 
}

footer ul li {
    display:inline-block;
    padding: 0 2vw;
}

footer ul li a {
    color:#95c5fc;
}