/* Global Styles */

* {
    padding: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: inherit;
}

html {
    height:100%;
    box-sizing: border-box;
}

/* Body Section Styles*/

body {
    background-color: #DEEEFF ;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* Header Section Styles */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2B3642;
    border-radius: 10px;
    align-items:center;
}

header h1 {
    color: #5C5F63;
    background-color:#95c5fc;
    padding: 0 .5vw 0 .2vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:5%;
    margin-bottom:5%;
}

/* Navigation Section Styles */ 

nav ul {
    list-style-type: none;
    align-content:space-between; 
}

nav ul li {
    display:inline-block;
    padding: 0 2vw;
}

nav ul li a {
    color:#95c5fc;
}

.noClick {
    pointer-events: none;
}

/* Main Section Styles */

#container {
    display: flex;
    flex-direction: column;
}

#aboutMeRow {
    flex: 50%;
    display: flex;
    flex-direction: row;
}

#workRow {
    flex: 50%;
    display: flex;
    flex-direction: row;
}

.asideHeader {
    align-self:center;
    border-right:solid #0e55a7;;
    padding-right:1vw;
    text-align:right;
    font-size:3vw;
    color:#0e55a7;
}

/* About Me Section Styles */

#aboutMeAside {
    flex: 1;
}

#aboutMeBio {
    max-Width:70%;
    align-self:center;
    padding-left: 1vw;
}

#aboutMeContent {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

#aboutMePic img {
    object-fit:contain;
    overflow:hidden;
    border-radius:15px; 
    max-width: 200px;
    max-height:200px;
}

/* Work Section Styles*/

#workAside {
    flex: 1;
}

#workContent {
    flex:3;
    display: flex;
    flex-direction: column;
}

#workItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    gap: 20px;
    margin-top: 10px;
}

#workTrophy {
    flex:content;
    margin-left:10px;
    min-height: 50%;
    max-height:50%;
    background-image: url("/assets/images/ConcertScout.PNG");
    background-size:cover;
    
}

#workItem1 {
    flex:content;
    margin-left:10px;
    background-image: url("/assets/images/WeatherTrackerProof.PNG");
    background-size:cover;

}

#workItem2 {
    flex:content;
    margin-left:10px;
    background-image: url("/assets/images/RandomPassProof.jpg");
    background-size:cover;
}

.workLink {
    display: block;
    height: 100%;
}

.workDescriptionBox {
    position:absolute;
    max-width:30%;
    min-width:30%;
    max-height:15%;
    min-height:15%;
    background-color: #95c5fc;
    flex-wrap:wrap;
    word-break: break-all;
    margin-left:10px;
    overflow:hidden;
}

.wrokItemDescriptionBox {
    position:absolute;
    background-color: #95c5fc;
    height:100%;
}

.workItemLink {
    display: block;
    height: 100%;
}


/* Footer Section Styles*/

footer section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2B3642;
    border-radius: 10px;
    align-items:center;
}

footer h2 {
    color: #5C5F63;
    background-color:#95c5fc;
    padding: 0 .5vw 0 .2vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:5%;
    margin-bottom:5%;
}

footer ul {
    list-style-type: none;
    align-content:space-between; 
}

footer ul li {
    display:inline-block;
    padding: 0 2vw;
}

footer ul li a {
    color:#95c5fc;
}